body
{
    background-color:#E4E4E4;
    background-image:url("../images/blue/bg.png");
	background-repeat:repeat-y;
	background-position: center;
	color:Black;
}


.reader-menu-dropdown
{
	color:white;
	background-color: rgba(0, 0, 0, 0.8);
	background-image: url("../images/blue/dropdown-header-bg.png");
}

#tooltip
{
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    border: 0px solid black;
}
